@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");
:root {
  --myColor: hsl(200, 8%, 8%);
  --compColor: #ff7b00;
  --nonClickAndPush: inset 0px -2px 2.5px hsl(200, 8%, 43%),
    inset 0px 2px 2.5px hsl(200, 8%, 3%);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Smooch Sans;
  font-size: 18px;
  color: hsl(200, 8%, 88%);
}
body {
  margin: auto;
  background-color: hsl(200, 8%, 5%);
}
.displayFlexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.neoContainer {
  -webkit-box-shadow: 0px -4px 7px -10px hsl(200, 8%, 38%),
    0px 4px 7px -10px hsl(200, 8%, 0%);
  box-shadow: 0px -4px 7px -10px hsl(200, 8%, 38%),
    0px 4px 7px -10px hsl(200, 8%, 0%);
  background: var(--myColor);
  padding: 10px 20px;
  height: 100vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 20px;
}
p.totalCount {
  margin-top: 30px;
  height: 170px;
  width: 170px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-size: 5rem;
  -webkit-box-shadow: 0px -4px 7px hsl(200, 8%, 38%),
    0px 4px 7px hsl(200, 8%, 0%);
  box-shadow: 0px -4px 7px hsl(200, 8%, 38%), 0px 4px 7px hsl(200, 8%, 0%);
  border: 2px solid var(--myColor);
  border-radius: 100px;
}
div.chronoContainer {
  width: 275px;
  height: 100px;
  padding: 10px;
  margin-top: 20px;
  justify-content: space-around;
}

div.chronoNumbers p {
  font-size: 2.5rem;
  padding: 0 2px;
}
div.totalCountContainer {
  height: 150px;
}
div.totalCountButtonsContainer {
  height: 170px;
  width: 275px;
  padding-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 16px auto 16px auto;
  grid-template-columns: auto auto auto;
  -ms-grid-rows: auto 16px auto 16px auto;
  grid-template-rows: auto auto auto;
  gap: 16px;
}
.pannel {
  -webkit-box-shadow: inset 0px -3px 7px hsl(200, 8%, 13%),
    inset 0px 3px 7px hsl(200, 8%, 0%);
  box-shadow: inset 0px -3px 7px hsl(200, 8%, 13%),
    inset 0px 3px 7px hsl(200, 8%, 0%);
  border-radius: 12px;
}
div.totalCountButtonsContainer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
div.totalCountButtonsContainer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
div.totalCountButtonsContainer > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
div.totalCountButtonsContainer > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
div.totalCountButtonsContainer > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
div.totalCountButtonsContainer > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
div.totalCountButtonsContainer > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
div.totalCountButtonsContainer > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
div.totalCountButtonsContainer > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
button {
  height: 55px;
  width: 60px;
  font-size: 2rem;
  border: none;
  border-radius: 16px;
}
img {
  width: 22.5px;
  height: 22.5px;
}
.lockImage {
  margin-left: 2px;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
}
.neoButton {
  background-color: var(--myColor);
  -webkit-box-shadow: 0px -2px 4px hsl(200, 8%, 38%),
    0px 2px 4px hsl(200, 8%, 0%);
  box-shadow: 0px -2px 4px hsl(200, 8%, 38%), 0px 2px 4px hsl(200, 8%, 0%);
}
.neoButton:active {
  -webkit-box-shadow: var(--nonClickAndPush);
  box-shadow: var(--nonClickAndPush);
}
.setLockContainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 16px;
}
.setSelectionButton {
  -webkit-box-shadow: var(--nonClickAndPush);
  box-shadow: var(--nonClickAndPush);
}
.doneSetsButton {
  -webkit-box-shadow: var(--nonClickAndPush);
  box-shadow: var(--nonClickAndPush);
}
.setSelection {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-size: 2rem;
}
.doneSets {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-size: 2rem;
}
.lockButton:active {
  -webkit-box-shadow: inset 0px -2.5px 2.5px hsl(200, 8%, 49%),
    inset 0px 5px 2.5px hsl(200, 8%, 0%);
  box-shadow: inset 0px -2.5px 2.5px hsl(200, 8%, 49%),
    inset 0px 5px 2.5px hsl(200, 8%, 0%);
}
.startButton:active {
  -webkit-box-shadow: inset 0px -2.5px 2.5px hsl(200, 8%, 49%),
    inset 0px 5px 2.5px hsl(200, 8%, 0%);
  box-shadow: inset 0px -2.5px 2.5px hsl(200, 8%, 49%),
    inset 0px 5px 2.5px hsl(200, 8%, 0%);
}
/* PREFIX */
.rangeContainer input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 8px;
  width: 360px;
  -webkit-box-shadow: inset 0px -1px 2px hsl(200, 8%, 63%),
    inset 0px 1px 2px hsl(200, 8%, 3%);
  -moz-box-shadow: inset 0px -1px 2px hsl(200, 8%, 63%),
    inset 0px 1px 2px hsl(200, 8%, 3%);
  box-shadow: inset 0px -1px 2px hsl(200, 8%, 63%),
    inset 0px 1px 2px hsl(200, 8%, 3%);
  border-radius: 6px;
  background-color: hsl(200, 8%, 58%);
}

/* Thumb styles for Webkit (Chrome, Safari, newer Edge) */
.rangeContainer input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: hsl(200, 8%, 8%);
  border-radius: 16px;
  width: 30px;
  height: 30px;
  box-shadow: inset 0px 1px 1px hsl(200, 8%, 18%),
    inset 0px -1px 1px hsl(200, 8%, 3%), 0px -1px 2px -1px hsl(200, 8%, 88%),
    0px 2px 2px -1px hsl(200, 8%, 3%);
  border: 5px solid hsl(200, 8%, 8%);
  cursor: pointer;
}

/* Thumb styles for Firefox */
.rangeContainer input[type="range"]::-moz-range-thumb {
  background: hsl(200, 8%, 8%);
  border-radius: 16px;
  width: 30px;
  height: 30px;
  box-shadow: inset 0px 1px 1px hsl(200, 8%, 18%),
    inset 0px -1px 1px hsl(200, 8%, 3%), 0px -1px 2px -1px hsl(200, 8%, 88%),
    0px 2px 2px -1px hsl(200, 8%, 3%);
  border: 5px solid hsl(200, 8%, 8%);
  cursor: pointer;
}

/* Thumb styles for IE/Edge Legacy */
.rangeContainer input[type="range"]::-ms-thumb {
  background: hsl(200, 8%, 8%);
  border-radius: 16px;
  width: 30px;
  height: 30px;
  box-shadow: inset 0px 1px 1px hsl(200, 8%, 18%),
    inset 0px -1px 1px hsl(200, 8%, 3%), 0px -1px 2px -1px hsl(200, 8%, 88%),
    0px 2px 2px -1px hsl(200, 8%, 3%);
  border: 5px solid hsl(200, 8%, 8%);
  cursor: pointer;
}

/* Track styles for IE/Edge Legacy */
.rangeContainer input[type="range"]::-ms-track {
  width: 360px;
  height: 8px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Fill styles for IE/Edge Legacy */
.rangeContainer input[type="range"]::-ms-fill-lower {
  background: hsl(200, 8%, 58%);
  border-radius: 6px;
}

.rangeContainer input[type="range"]::-ms-fill-upper {
  background: hsl(200, 8%, 58%);
  border-radius: 6px;
}
/* PREFIX */
.buttonToggle {
  -webkit-box-shadow: var(--nonClickAndPush);
  box-shadow: var(--nonClickAndPush);
}
.doneAddResetContainer {
  gap: 16px;
}

@media (min-width: 600px) {
  .neoContainer {
    justify-content: center;
    gap: 50px;
  }
}
